

p{

    font-size: 1em;
    
    
    }



.fotogluten{

    top: -1%;
    height: auto;
    width: 14%;
   position: absolute;
    right: 11px;

    }


.caption span.label{
margin-top: 5px;
float: right;

}

span.cocinero{

font-weight: bold;


}

.ingredientes h4{
text-align: center;
font-size: 1.2em;
border-bottom: 1px solid grey;
border-top: 1px solid grey;
padding: 5px 0px;



    }

.ingredientes span.label{

float: left;
width: 50px;
height: 20px;


}

.ingredientes span{

    padding-bottom: 20px;

}


.desplegable{

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
   float: right;
}

